<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech-Space</title>
  {{!-- Bootstrap --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1 class="tech">
        <a href="/">Tech Space!</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <ul class="nav justify-content-end">
           <li class="nav-item col-md">
             <a href="/dashboard" class="dashboard">dashboard</a>
           </li>
           <li class="nav-item col-md-">
             <button id="logout" class="logout">logout</button>
           </li>
          
        </ul>

        {{else}}
        <a href="/login" class="login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  {{!-- Logout function --}}
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>