* {
    box-sizing: border-box;
  }
  
  /* Root color scheme */
:root {
  --primary-color: #082032; 
  --secondary-color: #2C394B;
  --tertiary-color: #334756;
  --quaternary-color: #FF4C29;
}

 /* Styling for entire body */
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color:var(--secondary-color);
    background-color: var(--secondary-color);
  }

/* styling for cards in homepage */
 .post-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .meta{
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    padding-bottom: 10px;
  }

  .title{
    background-color: var(--primary-color);
    font-size: 20px;
    
    text-decoration: none;
  }

  .title:hover{
    text-decoration: none;
  }

  .title a{
    color: var(--quaternary-color);
  }

  .login{
    text-decoration: none;
    color: var(--quaternary-color);
    font-size: 25px;
  }

  .login:hover{
    text-decoration: none;
  }

  .card-text{
    font-size: 20px;
  }

  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color:var(--quaternary-color);
    display: flex;
    justify-content: flex-end;
  }
  
  .tech a{
    text-decoration: none;
    color: var(--quaternary-color);
    font-size: 40px;
  }

  .meta a{
    color: var(--tertiary-color);
    font-size: 15px;
  }

  .meta a:hover{
    text-decoration: none;
  }

  /* Styling for Login Page */

  .password-login{
    color: var(--quaternary-color);
  }

  .username-login{
    color: var(--quaternary-color);
  }

  .sign-up{
    color: var(--quaternary-color);
  }

  .sign-up:hover{
    text-decoration: none;
    color: #d41414;
  }

  /* Styling for Sign up Page */
  .password-signup{
    color: var(--quaternary-color);
  }

  .username-signup{
    color: var(--quaternary-color);
  }

  .log-in{
    color: var(--quaternary-color);
  }

  .log-in:hover{
    text-decoration: none;
    color: #d41414;
  }
  
  /* Logged In Homepage */

  .logout{
    text-decoration: none;
    color: var(--quaternary-color);
    font-size: 25px;
    background-color: var(--secondary-color);

  }

  .logout:hover{
    text-decoration: none;
    color: #d41414;
    background-color: var(--secondary-color);
  }

  .dashboard{
    text-decoration: none;
    color: var(--quaternary-color);
    font-size: 25px;
  }

  .dashboard:hover{
    text-decoration: none;
    color: #d41414;
  }

/* Dashboard Styling */
h2{
  color: var(--quaternary-color);
}
.new-post{
  color: var(--quaternary-color);
  font-size: 20px;
}

/* Edit Post Styling */
.edit-post-form div{
  color: var(--quaternary-color)
}

.edit-post-form span{
  padding: 10px;
}

.post-title{
  width: 100%;
}

.post-content{
  width: 100%;
}

/* Comment styling */

.username-comment{
  color: var(--quaternary-color)
}
  button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #3486eb;
  }
  
 
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  header h1 {
    font-size: 1em;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  

  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
  }
  
  .upvote-btn:hover {
    background-color: #1f9c13;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment{
    background-color: white;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
  }
  
  .new-post-form input {
    width: 300px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }